{{ define "main" }}

<ol type="I">
  <li>
    <a href="/">Начална страница</a>
    <ol>
      <li>
        <a href="/history">История</a>
      </li>
      <li>
        <a href="/protocol">Протокол</a>
        <ul>
          <li>
            <a href="/protocol/overview">Въведение</a>
          </li>
          <li>
            <a href="/protocol/client-server-model">Клиент-сървър модел</a>
          </li>
          <li>
            <a href="/protocol/commands">Команди в SMTP</a>
          </li>
          <li>
            <a href="/protocol/example">Примерна SMTP сесия</a>
          </li>
          <li>
            <a href="/protocol/commands">MIME</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="about">За сайта</a>
        <ul>
          <li>
            <a href="/about">За сайта</a>
          </li>
          <li>
            <a href="/sitemap">Карта на сайта</a>
          </li>
          <li>
            <a href="/sources">Източници</a>
          </li>
        </ul>
      </li>
    </ol>
  </li>
</ol>

{{ end }}
